//start font vars
$main-font: "Space Mono", monospace;
$secondary-font: "Space Grotesk", sans-serif;
//end font vars

//start color vars
$background: #1B1B1D;
$text-color: #FFF7F8;
$green: #9EFF00;
$pink: #EE4266;
$purple: #7765E3;
//end color vars