@import "vars";
@import "fonts";

.loader {
    background: $green;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: loaderAnimation 4s forwards;
}

@keyframes loaderAnimation {
    0% {
        opacity: 1;
        top: 0;
    }
    70% {
        opacity: 1;
        top: 0;
    }
    100% {
        opacity: 0;
        top: -150%;
    }
}
@media screen and (max-width: 992px) {
   
     
}
@import "media";



