@charset "UTF-8";
.cases__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
}

.cases__image {
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.cases .container-fluid {
  position: relative; /* Родительский элемент должен иметь относительное позиционирование */
}

.cases__image.sticky {
  position: -webkit-sticky;
  position: sticky; /* Применяем sticky, когда элемент становится фиксированным */
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); /* Центрируем по вертикали при зависимости */
}

.cases__image img {
  width: 100%;
  height: auto;
  display: block;
}

.cases__list {
  margin-left: 20px; /* Отступ между изображением и списком */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; /* Вертикальный список */
  gap: 10px; /* Отступы между элементами */
  width: 50%;
}

.case {
  width: 400px;
  max-width: 100%;
  padding-top: 32px;
}
.case p {
  font-family: "Space Grotesk", sans-serif;
}

.case__title {
  font-size: 32px;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  padding-bottom: 30px;
}

.case__img {
  margin-top: 32px;
  max-width: 100%;
}

.case:nth-child(2) {
  color: #EE4266;
}

.case:nth-child(4) {
  color: #7765E3;
}

.cases {
  padding-bottom: 140px;
}

@media screen and (max-width: 992px) {
  .cases__image {
    position: static;
  }
  .cases__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cases__image {
    width: 100%;
    position: static;
  }
  .cases__list {
    width: 100%;
    padding-top: 0;
  }
  .case {
    width: 100%;
    margin-top: 10vw;
  }
  .cases__list {
    gap: 0;
    margin-left: 0;
  }
  .case__title {
    font-size: 5.333vw;
    padding-bottom: 4.267vw;
  }
  .case p {
    margin-bottom: 0;
  }
  .case__img {
    margin-top: 8vw;
    width: 100%;
  }
  .case:nth-child(2),
.case:nth-child(4) {
    color: #fff;
  }
  .cases {
    padding-bottom: 27vw;
  }
  .cases__image.sticky {
    position: static;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
  .cases__image {
    position: static;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}