.main-screen {
  text-align: center;
}

.main-screen .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.main-screen__sub-title {
  color: #9EFF00;
  font-size: 20px;
  margin-bottom: 24px;
}

.main-screen__content {
  width: 825px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.word {
  text-transform: uppercase;
  color: #9EFF00;
  font-size: 50px;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
}

.word-line {
  position: relative;
  height: 45px;
  overflow: hidden;
  margin-top: 10px;
}

.word {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  line-height: 1;
}

.word.active {
  top: 0;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.word.exit {
  top: 0;
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  opacity: 0;
}

.main-screen__content {
  position: relative;
}

.main-screen__content:before {
  content: "";
  width: 125px;
  height: 108px;
  background: url("../img/x.svg");
  display: block;
  top: 30px;
  left: -45px;
  position: absolute;
}

.main-screen__content:after {
  content: "";
  width: 37px;
  height: 32px;
  background: url("../img/x-white.svg");
  display: block;
  bottom: -20px;
  right: 70px;
  position: absolute;
}